header,nav,aside,footer,section,article{
    display:block;
}
*{
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

header .container{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:5px;
    background-image: url("https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/growth_frontpage/us_europe/Bitmap.png?auto=format&dpr=2&fit=crop");
    background-repeat: no-repeat;
    width:auto;
    height:600px;
    border-bottom: 60px solid orange;
}
header nav{
    position:fixed;
    left:0;
    right:0;
    margin:40px 0px;
    z-index: 1;
}
header .logo-class {
    display:block;
    float:left;
    margin: -14px 20px;
    padding:0;
}
header img{
    height:75px;
    width:300px;
    opacity:0.6;
    box-shadow: gray 2px 2px;
}

header .navigation{
    float:right;
    margin-right:20px;
}
header table a{
    padding:15px;
    margin:4px;
    background-color: yellow;
    color:red;
    width:100px;
    border-radius: 10%;
    text-decoration: none;
}
header a:hover{
    background-color: green;
    color:red;
}
section .container{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    padding-left:15px;
    padding-right:5px;
    width:auto;
    height:600px;
}
section .section1 h1{
    text-align: center;
    color: orange;
}
section .section1 h4{
    text-align: center;
}
section .section1 .circle{
    height:240px;
    width:240px;
    border: 6px solid orange;
    border-radius: 50%;
    margin: 80px auto;
    padding:20px;
}
section .section1 .circle .title h4{

    margin-left: 6px;
    margin-top: 20px;
    font-weight:bolder;
    color:orange;
}
section .section1 .circle .title h5{

    margin-left: 45px;
    font-weight: bold;
}
section .section1 .circle .title p{
    text-align:center;
}
section .section2 .banner{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:5px;
    background-image: url("https://egen.solutions/images/banner-2.jpg");
    background-repeat: no-repeat;
    width:auto;
    height:600px;
    position:relative;
    padding: 80px 0px;
    color:white;
    text-align:center;
    border-bottom: 60px solid orange;
}
section .section2 .content{
    padding:60px;
    margin-top:80px;
    background: rgba(3,14,40,0.27);


}
section .section2 .content h1{
    color:white;
    text-align:center;

}
section .section2 .content h2{
    color:orange;
    text-align:center;

}
section .section3{
    background-color: #ebeff2;
    height:400px;
    position:relative;
    padding: 80px 0px;
}

section .section3 .banner{
    text-align:center;
    padding: 20px;
    margin-top:10px;
}
section .section3 .banner:before, section .section3 .banner:after{
    content:"";
    display:inline-block;
    height:2px;
    width:300px;
    background-color: #EA5A27;
}